<%= @artist.name %>

<%= image_tag @artist.image_path %>
<%= link_to "Edit", edit_artist_path(@artist) %>
<%= link_to "Delete", artist_path(@artist), method: "delete" %>


<%= render partial: 'shared/errors', locals: {target: @song} %>
<p>Songs: <% @artist.songs.each do |song| %>
            <%= song.title %>
          <% end %> </p>

<p><%= render partial: 'songs/form' %></p>
