<%= @artist.name %>

<%= image_tag @artist.image_path %>
<%= link_to "Edit", edit_artist_path(@artist) %>
<%= link_to "Delete", artist_path(@artist), method: "delete" %>

 <% if  @song.errors.any? %>
   <h2><%= pluralize(@song.errors.count, "error") %>
   prohibited this content from being saved:</h2>
   <ul>
    <% @song.errors.full_messages.each do |message| %>
      <li> <%= message %></li>
    <% end %>
   </ul>
 <% end %>


<p>Songs: <% @artist.songs.each do |song| %>
            <%= song.title %>
          <% end %> </p>

<p><%= render partial: 'songs/form' %></p>
